*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    scroll-behavior: smooth;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.contenedor{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;
}


.header{
    height: 100vh;
    background: linear-gradient(90deg, rgba(29, 0, 36, 0.5) 0%, rgba(6, 134, 44, 0.377) 35%, rgba(0, 255, 64, 0.322) 100%), url(../img/fondo-tech.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.head{
    text-align: center;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #ffffff;
}

.menu{
    position: fixed;
    top: 30px;
    right: 30px;
    background: #fff;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}

.menu-navegacion{
    position: fixed;
    top: 0;
    right: 0;
    width: 30vw;
    height: 100%;
    background: linear-gradient(90deg, rgba(140, 209, 180, 0.9) 2%, rgba(194, 251, 213, 0.9) 68%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: transform .3s ease-in-out;
    transform: translate(110%);
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}

.spread{
    transform: translate(0);
}

.menu-navegacion a{
    color: #000000;
    text-decoration: none;
}

.titulo{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5), -2px -2px 4px rgba(255, 255, 255, 0.5);
    font-size: 60px;
    margin-bottom: 15px;
}

.copy{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.925);
    font-weight: 300;
    font-size: 25px;
}

/* Mi servicio */

.subtitulo{
    text-align: center;
    font-weight: 300;
    color: #017e35;
    margin-bottom: 40px;
    font-size: 40px;
}

.contenedor-servicio{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.contenedor-servicio img{
    width: 40%;
}

.checklist-servicio{
    width: 45%;
}

.service{
    margin-bottom: 20px;
}

.n-service{
    margin-bottom: 7px;
    color: #9f8ad0;
}

.number{
    display: inline-block;
    background: linear-gradient(90deg, rgba(161,140,209,1) 2%, rgba(251,194,235,1) 68%);
    width: 30px;
    height: 30px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    font-weight: 700;
    line-height: 30px;
    margin-right: 3px;
}

/* Portafolio */

.gallery{
    background: #f2f2f2;
}

.contenedor-galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Ajusta el tamaño mínimo y máximo de las columnas */
    grid-gap: 15px; /* Ajusta el espacio deseado entre las imágenes */
    justify-items: center; /* Centra horizontalmente las imágenes */
}

.contenedor-galeria a {
    display: block;
}

.img-galeria {
    object-fit: cover;
    max-width: 100%;
    display: block;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    cursor: pointer;
}

/* Virtudes (Sobre Mi) */

.contenido {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Alinea los elementos a la derecha */
    flex-direction: row-reverse; /* Invierte el orden de los elementos */
}

.cont-perfil{
    width: 70%;
    text-align: center;
    margin-bottom: 20px;
}

.imagen-perfil {
    border-radius: 50%;
    max-width: 100%;
    margin-left: 10px;
    height: auto;
}

.n-perfil{
    display: inline-block;
    margin-top: 20px;
    width: 100%;
    font-weight: 400;
}

.virtudes{
    margin-right: 20px; /* Ajusta el margen derecho según sea necesario */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

}

.cont-virtud{
    width: 30%;
    text-align: center;
    margin-bottom: 20px;
}

.cont-virtud img{
    width: 80%;
    display: block;
    margin: auto;
}

.n-virtud{
    display: inline-block;
    margin-top: 20px;
    width: 100%;
    font-weight: 400;
}

/* Footer */

footer{
    background: #039463;
    padding-bottom: 0.1px;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;
}

.contact-us{
    width: 40%;
    color: #fff;
}

.brand{
    font-weight: 500;
    font-size: 40px;
}

.brand+p{
    font-weight: 500;
}

.social-media{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.social-media-icon{
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    color: #fff;
}

.social-media-icon:hover{
    background: #fff;
    color: #764ba2;
}

.social-media-icon i{
    font-size: 30px;
    line-height: 60px;
}

.line{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    height: 2px;
    background: #fff;
    margin-bottom: 60px;
}

@media screen and (max-width:768px){
    .menu-navegacion{
        width: 50vw;
    }

    .titulo{
        font-size: 40px;
    }

    .contenedor-servicio img{
        width: 80%;
        margin-bottom: 40px;
    }

    .checklist-servicio{
        width: 80%;
    }

    .service{
        margin-bottom: 30px;
    }

    .contenido {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    
    .imagen-perfil {
        margin: 0;
        margin-bottom: 10px;
        align-self: center;
    }

    .cont-virtud{
        width: 80%;
    }

    .footer-content{
        justify-content: center;
    }

    .social-media{
        width: 80%;
        justify-content: space-evenly;
    }

    .social-media-icon{
        margin-left: 0;
    }

    .social-media i{
        margin-left: 0;
    }
    
    .contact-us{
        text-align: center;
        width: 80%;
        margin-bottom: 40px;
    }
}

@media screen and (max-width:500px){
    .menu-navegacion{
        width: 65vw;
    }

    .menu{
        top: 20px;
        right: 20px;
    }
    
    .titulo{
        font-size: 30px;
    }

    .subtitulo{
        font-size: 30px;
    }

    .social-media{
        width: 100%;
    }

    .contact-us{
        width: 90%;
    }
}